body{
height: 100%;
width: 100%;
margin: 0 auto;

}

#wallpaper{
background-image: url(bgquora.png);
width: 1285px; 
height: 658px;background-repeat: no-repeat;
background-size: contain;
}

#inner{
width:650px;
height:645px;
margin: 0 auto;
padding-top: 13px;
}

#logo{
width: 160px;
height: 56px;
margin: 0 auto;
}
#logo img{
width: 160px;
height: 48px;   
}