body{
height: 100%;
width: 100%;
margin: 0 auto;

}

#wallpaper{
background-image: url(bgquora.png);
width: 1285px; 
height: 658px;background-repeat: no-repeat;
background-size: contain;
opacity: 0.8;
}

#inner{
width:650px;
height:635px;
margin: 0 auto;
padding-top: 13px;
}

#logo{
width: 160px;
height: 56px;
margin: 0 auto;
opacity:1;
}
#logo img{
width: 160px;
height: 48px;   
}

#tagline{
font-family:Georgia;
color: grey;
height: 24.7px;
width: 634px;
margin: 8.2px 0 16.4px 16px;
font-size:18px; 
text-align: center;
}

#container{
margin: 0 auto;
height: 205px;
padding: 34px;
width: 480px;
border:1px solid lightgrey;
background-color: white;
border-radius: 5px;
box-shadow: 0px 1px 0px 0px silver;
}
.siders{

height: 80%;
 font-size: 12px;
color: dimgrey;
}
#signin{
 width:210px;
float: left;
padding-right:8px;
border-right: 1px solid lightgrey;
}
#login{
float: right;
padding-left:8px;
font-family: "Nimbus Sans L";
 width:212px;
}
#login:hover{

}
#footer{
    padding-top: 12px;
    height: auto;
    width: 650px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: grey;
    font-family: "Nimbus Sans L";
    font-stretch: expanded;
}
#footer a{
    text-decoration: none;
    color: grey;
}
#footer a:hover{
    text-decoration: underline grey;
}
#footer a .tra{
    color: white;
}
.dt{
   margin-bottom: 10px; 
   margin-top: 10px; 
   background-color: lightgrey;
   border-style: hidden;
   height: 24px;
   border-radius:4px; 
   width: 100%;
   
}
table{
    margin-top: 13px;
    height: 100%;
}
button{
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;
    border-style: hidden;
    float: right;
    margin-top: 26px;
    opacity:0.6;
    height: 25px;
}
button:hover{
    opacity:1;
}
td a{
    color:dimgray;
    text-decoration: none;
}

.sign{
    padding-top: 10px;
    width: 100%;
    height:30px;
    text-align: center;
    font-size: 12px;
    color: darkgrey;
    font-family:"Nimbus Sans L";
    border-radius: 4px;
    
}
signin{
   font-family:"Nimbus Sans L";  
}
.signin a{
   text-decoration: none; 
}
#g{
 margin-bottom: 20px; 
background-color:#E41B17;
font-size: 15px;
color: white;
}

#f{
    background-color: #002dae;
    font-size: 15px;
    color: white;
    margin-bottom: 8px
}
#inter{
 color: darkgrey;
font-family: "Nimbus Sans L"; 
font-size: 12px;
}
#inter a{
    text-decoration: none;
 color: darkgrey;
}
a #thison{
    color: dodgerblue;
}